<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me - My Portfolio!</title>
    <link rel="stylesheet" href="/about.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body>
<!--/* Uday Kiran Kaur S# 301239444 , Lab assignment 1 */-->
<div class="container">
    <div class="profile-section">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/c1.jpg" alt="Uday Kiran Kaur" class="img-fluid rounded-circle profile-pic">
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fab fa-linkedin"></i></a>
                    <a href="#" class="icon"><i class="fab fa-github"></i></a>
                    <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-md-8">
                <h2>Uday Kiran Kaur</h2>
                <p>I am a committed web developer with expertise in various modern tech tools. As a student deeply engrossed in software creation, I consistently refine my abilities, blending academic insights with hands-on experience. My goal extends beyond just writing effective code; I aim to design transformative digital interactions.
                </p>
                <a href="/images/resume.uday.pdf" download class="btn btn-outline-primary">Download My Resume</a>
            </div>
        </div>
    </div>
    
    <div class="skills-section">
        <h3>Skills</h3>
        <ul>
            <li>Website Creation & Enhancement</li>
            <li>Data Storage & Optimization</li>
            <li>User Interface & Experience Crafting</li>
            <li>C# Code Development</li>
            <li>A home baker</li>
            
        </ul>
    </div>
</div>

</body>
</html>
