<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Portfolio</title>
    <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>
<body>
    
<!-- /* Uday Kiran Kaur S# 301239444 , Lab assignment 1 */-->
    <!-- Header -->
    <header>
        <h1>Welcome to My Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/project">Projects</a>
            <a href="/services">Services</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>

    <!-- Main Content -->
    <main>
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">Hello , I'm Uday Kiran Kaur</h1>
                <p class="lead">I'm an enthusiastic coder skilled in a diverse range of fields. Dive into my portfolio to understand my craftsmanship and learn about my journey.</p>
                <hr class="my-4">
                <p>Interested to hire me ? Contact me</p>
                <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me</a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; S# 301239444[Uday Kiran Kaur]. All rights reserved.</p>
    </footer>

</body>
</html>
