body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Prevents scroll due to pseudo element */
    position: relative;
    background-image: url('/images/a5.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container {
    background-color: rgba(240, 208, 180, 0.244); /* Slight transparency for the glass effect */
    padding: 30px;
    border-radius: 10px;
    margin: 20px 0;
    width: 80%; /* Adjust this value based on your design preference */
    backdrop-filter: blur(20px); /* MacOS glass blur effect */
    -webkit-backdrop-filter: blur(20px); /* For Safari */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.contact-info p {
    margin: 0;
}

.contact-info i {
    margin-right: 10px;
    color: #007bff;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.form-control {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}
